---
layout: default
title: Publications
permalink: /publications/
---
<h2> International conferences with peer review</h2>
{% for publication in site.data.publications %}
        {% if publication.international == "True" %}
		<p >{{ publication.authors }} ({{ publication.date }}). <b>{{ publication.title }}</b> in <i>{{ publication.conference }}</i>. (pp. {{ publication.pages }}) {% if publication.pdf != "" %}<a href="{{ publication.pdf }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>{% endif %}{% if publication.doi != "" %}<a href="{{ publication.doi }}">[doi]</a>{% endif %}</p>
        {% endif %}
{% endfor %}

<h2> National conferences with peer review</h2>
{% for publication in site.data.publications %}
        {% if publication.international == "False" %}
		<p >{{ publication.authors }} ({{ publication.date }}). <b>{{ publication.title }}</b> in <i>{{ publication.conference }}</i>. (pp. {{ publication.pages }}) {% if publication.pdf != "" %}<a href="{{ publication.pdf }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>{% endif %}{% if publication.doi != "" %}<a href="{{ publication.doi }}">[doi]</a>{% endif %} </p>
        {% endif %}
{% endfor %}
